## Deliverable 3. Create a Travel Itinerary Map.

In [40]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [41]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hermanus,ZA,77.81,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
1,3,Cape Town,ZA,77.27,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
2,8,Port Alfred,ZA,73.45,clear sky,-33.5906,26.8910,The Halyards Hotel
3,9,Makakilo City,US,63.61,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
4,14,Mar Del Plata,AR,64.42,overcast clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [42]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [43]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Redlands"]
vacation_end = vacation_df.loc[vacation_df['City'] == "Santa Barbara"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Laguna"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Pacific Grove" ]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Santa Barbara" ]

In [45]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start_pair = vacation_start[['Lat','Lng']]
start = [tuple(x) for x in start_pair.to_numpy()][0]
end = start

stop1_pair = vacation_stop1[['Lat','Lng']]
stop1 = [tuple(x) for x in stop1_pair.to_numpy()][0]

stop2_pair = vacation_stop2[['Lat','Lng']]
stop2 = [tuple(x) for x in stop2_pair.to_numpy()][0]

stop3_pair = vacation_stop3[['Lat','Lng']]
stop3 = [tuple(x) for x in stop3_pair.to_numpy()][0]

In [46]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_driving_trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(vacation_driving_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,643,Redlands,US,70.99,clear sky,34.0556,-117.1825,Dynasty Suites Redlands
1,232,Laguna,US,61.30,mist,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,526,Pacific Grove,US,63.28,clear sky,36.6177,-121.9166,Lovers Point Inn
3,523,Santa Barbara,US,67.82,clear sky,34.7333,-120.0343,Upper Ballard Campground
4,523,Santa Barbara,US,67.82,clear sky,34.7333,-120.0343,Upper Ballard Campground

In [48]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))